@media screen and (max-width: 850px) {
    .d_flex {
        flex-wrap: wrap;
    }
    .item {
        margin-right: 24px;
        font-size: 12px;
    }
    .item_btn {
        font-size: 12px;
    }
}
@media screen and (max-width: 768px) {
    .d_flex {
        flex-wrap: wrap;
    }
    .item {
        margin-right: 24px;
        font-size: 12px;
    }
    .item_btn {
        font-size: 12px;
    }
}
@media screen and (max-width: 654px) {
    .d_flex {
        flex-wrap: wrap;
        justify-content: center;
    }
    .item {
        margin-right: 24px;
        font-size: 12px;
    }
    .item_btn {
        font-size: 12px;
    }
    .clients_flex {
        flex-direction: column;
        min-height: 500px;
    }
}
@media screen and (max-width: 530px) {
    .d_flex {
        flex-wrap: wrap;
        justify-content: center;
    }
    .item {
        margin-right: 16px;
        font-size: 10px;
    }
    .item_btn {
        font-size: 10px;
    }
}
@media screen and (max-width: 432px) {
    .d_flex {
        flex-wrap: wrap;
        justify-content: center;
    }
    .item {
        margin-right: 13px;
        font-size: 10px;
    }
    .item_btn {
        font-size: 10px;
    }
}
@media screen and (max-width: 420px) {
    .d_flex {
        flex-wrap: wrap;
        justify-content: center;
    }
    .item {
        margin-right: 12px;
        font-size: 8px;
    }
    .item_btn {
        font-size: 9px;
    }
}
@media screen and (max-width: 360px) {
    .d_flex {
        flex-wrap: wrap;
        justify-content: center;
    }
    .item {
        margin-right: 12px;
        font-size: 8px;
    }
    .item_btn {
        font-size: 9px;
    }
}
@media screen and (max-width: 359px) {
    .d_flex {
        flex-wrap: wrap;
        justify-content: center;
    }
    .item {
        margin-right: 9px;
        font-size: 7px;
    }
    .item_btn {
        font-size: 8px;
    }
}
@media screen and (max-width: 319px) {
    .d_flex {
        flex-wrap: wrap;
        justify-content: center;
    }
    .item {
        margin-right: 5px;
        font-size: 6px;
    }
    .item_btn {
        font-size: 7px;
    }
}
